{{#if blogs.length}}
<ul class="collection">
    {{#each blogs as |blog|}}
    <li class="blog collection-item avatar">
        <img src="" alt="" class="circle">
        <h5 style="margin: 0; margin-bottom:5px;">{{title}}</h5>
        <p>{{description}}<br>
            <p style="font-weight: 200; text-align: right;">{{timerago blog.date}}</p>
        </p>
        <span class="secondary-content"><i class="material-icons">comment</i>{{comment.length}}</span>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No blogs found!</p>
{{/if}}